@font-face {
    font-family: 'GT America';
    src: url('/fonts/GT-America-Standard-Medium.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'GT America';
    src: url('/fonts/GT-America-Standard-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'GT America';
    src: url('/fonts/GT-America-Standard-Bold.woff2') format('woff2');
    font-weight: 600;
}
html,
body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
    font-family: 'GT America', sans-serif;
    -webkit-font-smoothing: antialiased;
}
input[type='range'] {
    width: 80px;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    height: 8px;
}
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}
input[type='range']::-webkit-slider-thumb::before {
    content: 'test';
}