.Background{
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    bottom: 20px;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    display: flex;
    font-size: 12px;
    padding: 10px;
    position: fixed;
}
.Colors{
    align-items: center;
    display: flex;
}
.Input{
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    width: 30px;
}
.Palette{
    border-radius: 50%;
    height: 20px;
    margin: 2px;
    width: 20px;
}
.Palette:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}
.PaletteSelected{
    border-radius: 50%;
    height: 20px;
    margin: 2px;
    width: 20px;
    border: 1px solid white;
    transition: 0.2s;
}
.Separator{
    background: rgba(255, 255, 255, 0.4);
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
}
.Settings td{
    padding: 0px;
}
.Sizes{
    display: flex;
    font-size: small;
    justify-content: space-evenly;
}
.Custom{    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px 12px 12px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -85px;
}
.Custom input{
    background: transparent;
    border: none;
    color: white;
    height: 21px;
}
.Custom .Hex{
    display: flex;
}
.Custom .Hex:nth-of-type(1) input{
    border-radius: 6px 0px 0px 0px;
}
.Custom .Hex:nth-of-type(2) input{
    border-radius: 0px;
}
.Custom .Hex:nth-of-type(3) input{
    border-radius: 0px 0px 0px 6px;
}
.Custom input::placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.Custom .Hex div{
    width: 10px;
}
.Custom .Hex:nth-of-type(1) div{
    border-radius: 0px 6px 0px 0px;
}
.Custom .Hex:nth-of-type(2) div{
    border-radius: 0px 0px 0px 0px;
}
.Custom .Hex:nth-of-type(3) div{
    border-radius: 0px 0px 6px 0px;
}
.Position{
    display: flex;
}
.Icon{
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
}
.IconSelected{
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
}
.About{
    display: flex;
    justify-content: space-between;
}
.About a{
    background: none;
    margin: 3px;
}
@media screen and (max-width: 768px){
    .Background{
        overflow-x: auto;
        width: 90%;
    }
}
@media(hover:hover){
    .Plus:hover{
        animation: 0.5s swirl_in;
        cursor: pointer;
    }
}
@keyframes swirl_in{
    0%    {transform: rotate(0deg);}
    100%  {transform: rotate(180deg);}
}