.Upload{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}
.Upload h2{
    font-size: 32px;
    text-align: center;
}
.Gradient{
    background: -webkit-linear-gradient(#642B73, #C6426E);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Drag{
    align-items: center;
    border-radius: 6px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>👆</text></svg>") 16 0,auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: 100px;
    text-align: center;
    transition: 0.2s;
    width: 800px;
}
.Drag img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 768px){
    .Upload h2{
        font-size: 16px;
    }
}